# dipendenze terze parti
/dependencies

# custom property filters (i filtri template usati dal build sono versionati)
/src/main/resources/filters/*
!/src/main/resources/filters/template.filter.properties
!/src/main/resources/filters/installer_template.filter.properties

# maven version backups
pom.xml.versionsBackup

# compiled output
/dist
/tmp
/out-tsc
/target
/bin
_build

# swagger
.swagger-codegen

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

/docker/buildcontext
/docker/compose

# Maven (da link-it/govpay-pagamenti-api)
buildNumber.properties
dependency-reduced-pom.xml
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
target/
